<div class="container mt-5">
  <h1 class="text-center pb-4 pt-3" style="font-family: Gill Sans, sans-serif;">
    KiddiesWeCare
    <span class=" text-white">Über uns <i class="fab fa-facebook-messenger"></i></span>
  </h1>
  <p class="text-center mb-5">Diese App ist aus der Not heraus entstanden. Alle Eltern hatten bereits die Situation: ein
    Event, ein Meeting, ein Treffen steht an, genau da ist Oma nicht verfügbar und der Lieblings - Babysitter hat keine
    Zeit. Was machen wir mit den Kids? Da es nicht nur uns als Eltern so ging, sondern allen, war die Idee schnell klar,
    sich einfach zusammen zu tun. Wer Zeit hat übernimmt.
    Diese App soll dabei helfen, uns in unserer Gemeinschaft gegenseitig zu helfen, wenn es darum geht, dass unsere
    kiddos in unserer Absenz gut aufgehoben sind.</p>
  <h6 class="text-center text-white">
    Bei Fragen wenden Sie sich bitte an Kristina: kvpgoubil@bluewin.ch</h6>
</div>