<div class="row">
  <div class="col-md-3 mt-3">
    <a routerLink="/login" class="btn btn-outline-light display">
      <i class="fa fa-arrow-circle-left"></i> Zurück zur Login
    </a>
  </div>
  <div class="col-md-6 mt-3">
    <h1 class="text-center pb-4 pt-3" style="font-family: Gill Sans, sans-serif">
      KiddiesWeCare
      <span class="text-white"> Register</span>
    </h1>
    <form (submit)="onRegister()">
      <div class="form-group">
        <i class="fas fa-at mr-2"></i>
        <label for="email"> E-mail</label>
        <input type="text" class="form-control" name="email" autocomplete="current-email" #userEmail="ngModel"
          [(ngModel)]="email" [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          required>
        <div class="invalid-feedback" [hidden]='!userEmail.errors?.required'>
          Email erforderlich
        </div>
        <div class="invalid-feedback" [hidden]='!userEmail.errors?.pattern'>
          Email muss gültig sein
        </div>
      </div>
      <div class="form-group mb-5">
        <i class="fas fa-unlock-alt mr-2"></i>
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" autocomplete="current-password"
          #userPassword="ngModel" [(ngModel)]="password"
          [ngClass]="{'is-invalid':userPassword.errors && userPassword.touched}" minlength='5' required>
        <div class="invalid-feedback" [hidden]='!userPassword.errors?.required'>
          Password erforderlich
        </div>
        <div class="invalid-feedback" [hidden]='!userPassword.errors?.minlength'>
          Ihr Passwort muss mindestens 5 Zeichen enthalten!
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-outline-light btn-block mb-5">
    </form>
  </div>
</div>