<div class="container">
  <div class="mt-3">
    <a routerLink="/" class="btn btn-outline-light">
      <i class="fa fa-arrow-circle-left"></i> Zurück
    </a>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <a routerLink="/child/add/{{ id }}" class="btn btn-info mb-1">
        Kind hinzufügen <i class="fas fa-child"> <i class="fas fa-plus"></i></i>
      </a>
      <ng-container *ngFor="let child of childUsers">
        <table class="table text-center">
          <tbody>
            <tr>
              <td *ngIf="child?.gender == 'boy'"><img src='/assets/img/spiderman.png' alt="boyImage"></td>
              <td *ngIf="child?.gender == 'girl'"><img src='/assets/img/frozen.png' alt="girlImage"></td>
              <td>{{ child?.name | titlecase }}</td>
              <td>Alter: {{ child?.age }}</td>
              <td>Hobby: {{ child?.hobby | titlecase }}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-white">{{ child.comment | uppercase }}</p>
      </ng-container>
    </div>
    <div class="col-md-6">
      <ng-container *ngIf="user">
        <div class="card mt-2">
          <div class="profile-header-img">
            <img style="border-radius: 25px; border: 1px solid #17a2b8; object-fit: cover; " width="300" height="250"
              src="{{ user?.image }}" onError="this.src='/assets/img/avatar.png';" />
            <div *ngIf="loggedInUser == user?.email" routerLink="/uploadfiles" class="btn btn-light pic"><i
                class="fas fa-camera-retro" title="Bild hochladen"></i></div>
            <ul class="text-center">
              <li>{{user?.firstName | titlecase }}</li>
              <li>{{user?.lastName | titlecase }}</li>
              <li><i class="text-info fas fa-map-marker-alt mr-2"></i>{{user?.street | titlecase }},
                {{user?.city | titlecase }}, {{user?.zip}}</li>
              <li><i class="text-info fas fa-phone mr-2"></i>0{{user?.phone}}</li>
              <li><i class="text-info fas fa-at mr-2"></i>{{user?.email}}</li>
              <div class="col text-center">
                <div (click)="onDeleteUser()" class="btn btn-outline-danger btn-sm mr-2" title="Löschen"><i
                    class="fas fa-trash-alt"></i> Konto
                  löschen</div>
                <div routerLink="/profile/edit/{{ user?.id }}" class="btn btn-outline-warning btn-sm"><i
                    class="fas fa-edit"></i> Bearbeiten</div>
              </div>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #Spinner>
  <div class="spinner">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
  </div>
</ng-template>