<div class="row">
  <div class="col-lg-12 mt-5">
    <div class="sidebar bg-light">
      <h2 class="text-center mt-3">Steinmaur infos</h2>
      <h3 class="text-center mt-3">Primarschule Steinmaur<i class="text-info fas fa-school ml-2"></i></h3>
      <ul style="list-style: none;">
        <li><i class="text-info fas fa-map-marker-alt mr-2"></i>Hauptstrasse 17, 8162 Steinmaur</li>
        <li><i class="text-info fas fa-phone mr-2"></i>044 847 32 00</li>
      </ul>
      <hr>
      <h3 class="text-center mt-3">kommende Ereignisse</h3>
      <img class="rounded mx-auto d-block mb-5" width="300" height="450" src='/assets/img/event.png'>
    </div>
  </div>
</div>